In [ ]:
ORGANISING THE LIST DATA TYPE:

In [1]:
cars=['kia','benz','bmw','suzuki','maruthi']
print(cars)

['kia', 'benz', 'bmw', 'suzuki', 'maruthi']

In [2]:
type(cars)

list

In [ ]:
#req:i want to organise the above cars list in a alphobitical order A-------Z.....?

    2 possible approches:
        1. temp approach--->  we can able to maintain the original of list ----( sorted )
        2. per approach--->  change are fixed , cannot go bact to orginal order----( sort )

In [ ]:
#tem approach------(1)   A-----Z    (shorted)

In [3]:
print(sorted(cars))

['benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
benz , bmw -----> e,m   **  #when the first letter is same its go to second letter and keet it to alphobitiac order

In [ ]:
# per(permanent) approach: per approach   ( sort )

In [31]:
cars.sort ()
print(cars)

['benz', 'bmw', 'kia', 'maruthi', 'suzuki']

In [ ]:
# req: hoe to print the list in a reverse ordre....?**

In [11]:
print(cars)

['kia', 'benz', 'bmw', 'suzuki', 'maruthi']

In [13]:
cars.reverse()    # the changes are applied permantly.
print(cars)

['maruthi', 'suzuki', 'bmw', 'benz', 'kia']

In [14]:
print(cars)

['maruthi', 'suzuki', 'bmw', 'benz', 'kia']

In [ ]:
# to count the no.of elements in the list....?

In [15]:
len(cars)

5

In [ ]:
SLICING OF LIST:

In [16]:
students=['suvi','nithu','kavi','arun','shiva','vino']
print(students)

['suvi', 'nithu', 'kavi', 'arun', 'shiva', 'vino']

In [ ]:
GENERAL SYNTAX OF SLICING:
    
    star value:stop value:step count-------> INDEXING
            
            NOTE 1 : last value or step value is alwasys exclusive , that means it will be included in parts of the slice.
                
            NOTE 2 : increment the index by 1 to include the last value or step value.

In [ ]:
# req : i want to include ' suvi' and 'nithu' in the same slice.

In [23]:
print(students[0:1])

['suvi']

In [24]:
print(students[0:2])

['suvi', 'nithu']

In [25]:
print(students[2:4])

['kavi', 'arun']

In [ ]:
#req : i want to include shiva and vino in the same slice ?

In [26]:
print(students[4:6])

['shiva', 'vino']

In [27]:
print(students[0:6:2])

['suvi', 'kavi', 'shiva']

In [28]:
print(students)

['suvi', 'nithu', 'kavi', 'arun', 'shiva', 'vino']